.form
{
    color: aliceblue;
}
 body
{
    background-color: rgba(38, 79, 214, 0.755);
}
.btn {
    background-color: rgb(188, 19, 7);
        color: aliceblue;
        border: none;
        height: 20px;
        width: 170px;
        border-radius: 2px;
        cursor:pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
  }

label
{
    color: rgb(232, 227, 227);
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

